# Supermarket Transaction Analysis in SQL

The checkout line is a familiar part of the retail experience. Any retailer needs to understand their checkout data to answer important questions like "do people spend more with card or cash?", "how many items do people buy at different times?", and "are self-service checkouts quicker than those with a cashier?". 

You'll use SQL to analyze [transaction data from a Polish Supermarket](https://www.mdpi.com/2306-5729/4/2/67/htm) to answer financial and logistical questions.

A financial analysis of point of sale transactions can have many purposes. A non-exhaustive list is:
- increase sales by identifying what matters to the customer, is it promotions? on what items? is it opening hours? prices of particular items? and so on;
- increasing productivity of stores and operators by identifying factors that result in Lower processing time per item or basket size, accurate predictions for labour scheduling, adequate level of inventory, fewer scanning errors at checkout, and so on;
- predict sales in the short, medium and long term to inform decisions on investments in fixed assets and human resources, financing, go-to-market invesments, etc.

## Task 1: Exploring the data

A good first step in exploring a database is to select the first few rows from each table.

### Instructions

Select all columns and the first 100 rows from `pos_operator_logs` and `pos_transactions`.

In [26]:
SELECT *
FROM 'pos_operator_logs.csv'
LIMIT 100;

     id  Workstation_Group_ID  ...           begin_date_time operator_id
0     1                     8  ... 2019-02-13 05:37:55+00:00         269
1     2                     8  ... 2019-02-13 05:37:55+00:00         268
2     3                     8  ... 2019-02-13 05:38:43+00:00         267
3     4                     1  ... 2019-02-13 07:01:26+00:00         332
4     5                     1  ... 2019-02-13 07:01:57+00:00          10
..  ...                   ...  ...                       ...         ...
95   96                     1  ... 2019-02-13 10:13:59+00:00         328
96   97                     1  ... 2019-02-13 10:17:43+00:00         338
97   98                     1  ... 2019-02-13 10:24:06+00:00         328
98   99                     1  ... 2019-02-13 10:24:24+00:00         328
99  100                     1  ... 2019-02-13 10:26:27+00:00         346

[100 rows x 5 columns]

In [27]:
SELECT *
FROM 'pos_transactions.csv'
LIMIT 100;

     id  WorkstationGroupID           begin_date_time  ... t_cash  t_card  amount
0     1                   1 2017-12-07 14:23:23+00:00  ...   True   False  112.71
1     2                   1 2017-12-07 14:25:09+00:00  ...   True   False   54.76
2     3                   1 2017-12-07 14:27:28+00:00  ...   True   False   14.77
3     4                   1 2017-12-07 14:28:04+00:00  ...   True   False   37.88
4     5                   1 2017-12-07 14:29:40+00:00  ...   True   False  115.34
..  ...                 ...                       ...  ...    ...     ...     ...
95   96                   1 2017-12-07 17:07:48+00:00  ...   True   False   32.54
96   97                   1 2017-12-07 17:10:51+00:00  ...   True   False   26.59
97   98                   1 2017-12-07 17:11:47+00:00  ...   True   False  104.82
98   99                   1 2017-12-07 17:12:51+00:00  ...  False    True   67.62
99  100                   1 2017-12-07 17:14:09+00:00  ...   True   False  100.68

[100 rows x 9 columns]

## Task 2: Do more people make transactions by card or by cash?

Understanding how people pay is crucial for shop logistics like deciding what kind of checkout equipment to buy.

### Instructions

Count how many transactions were processed by cash (the case when `t_cash` is true) and by card  (the case when `t_card` is true). Use the `pos_transactions` table.

In [28]:
SELECT 
COUNT (CASE WHEN t_cash THEN 1 END) AS cash_transactions,
COUNT (CASE WHEN t_card THEN 1 END) AS card_transactions

FROM 'pos_transactions.csv';

   cash_transactions  card_transactions
0              84487              78246

## Task 3: Do people spend more per transaction when using cash or card?

Similarly, knowing how much people spend per transaction using different payment methods is helpful for deciding on security arrangments, and marketing to encourage shoppers to use different payment methods.

Find the average per transaction type when a transaction is only card, or only cash.

### Instructions

Calculate the mean (average) amount spent per transaction for cash and for card.

In [29]:
SELECT 
	
AVG(CASE WHEN t_cash AND NOT t_card THEN amount END) AS avg_cash_transactions,
AVG(CASE WHEN t_card AND NOT t_cash THEN amount END) AS avg_card_transactions
	
FROM 'pos_transactions.csv';

   avg_cash_transactions  avg_card_transactions
0              58.718519               86.83937

## Task 4: Exploring Sunday Trading

Regulations were introduced in Poland in 2018 banned shopping on some Sundays. It was generally two Sundays per month in 2018 and three Sundays per month in 2019. Supermarkets have reacted by extending the working hours on Fridays and Saturdays, while customers had to adapt to the changes in opening hours. **The dataset contains two working Sundays (24 February, 31 March) and two non-working Sundays (17 February, 7 April).**

### Instructions

Get the week number of the dates where trading occured on a Sunday. 

- Find the week number of `end_date_time` from `pos_transactions` for these Sundays: 17 February, 24 February,31 March and 7 April 2019.
- Order the dates from latest to earliest.

In [30]:
SELECT
    DATE_PART('week', end_date_time::DATE) as week_num,
    end_date_time::DATE AS end_date
FROM 'pos_transactions.csv'
WHERE end_date_time::DATE IN ('2019-02-17', '2019-02-24', '2019-03-31','2019-04-07')
GROUP BY end_date;

   week_num                  end_date
0        13 2019-03-31 00:00:00+00:00
1         8 2019-02-24 00:00:00+00:00

The last two dates in my query do not appear and rightly so, because they were non-working Sundays. 

So the Weeks with with working Sundays are 8 and 13 ("WS"). And the weeks with non-working Sundays are 7 and 14 ("NWS"). 

Let's explore the data further to see if I have the full week data.

## Task 5: Analysis of daily trends

Understanding which days are busiest is important for deciding how many staff to schedule shifts for, as well as helping to plan financially.

### Instructions

- Select all transactions of 2019 and find out the daily sales amount, the daily average amount per transaction and the median average amount per transaction. 
- group by week

Do we see different trends on different days of the week?

In [31]:
SELECT
    DATE_PART('week', end_date_time::DATE) as week_num,
    end_date_time::DATE AS end_date,
    COUNT(id) AS total_transactions,
    SUM(amount) AS total_sales,
    AVG(amount) AS avg_sales_amount
FROM 'pos_transactions.csv'
WHERE DATE_PART('year', end_date) = 2019
GROUP BY end_date
ORDER BY week_num;

    week_num                  end_date  ...  total_sales  avg_sales_amount
0          7 2019-02-13 00:00:00+00:00  ...    189112.49         59.788963
1          7 2019-02-14 00:00:00+00:00  ...    302242.45         68.629076
2          7 2019-02-15 00:00:00+00:00  ...    319112.44         79.164584
3          7 2019-02-16 00:00:00+00:00  ...    405580.79         86.866736
4          8 2019-02-23 00:00:00+00:00  ...    369412.97         84.591933
5          8 2019-02-18 00:00:00+00:00  ...    193133.29         59.062168
6          8 2019-02-22 00:00:00+00:00  ...    330428.78         74.910175
7          8 2019-02-24 00:00:00+00:00  ...    143025.41         63.341634
8          8 2019-02-20 00:00:00+00:00  ...    181630.10         59.648637
9          8 2019-02-19 00:00:00+00:00  ...    170242.42         56.278486
10         8 2019-02-21 00:00:00+00:00  ...    298612.75         68.363725
11         9 2019-02-25 00:00:00+00:00  ...    164561.41         53.795819
12         9 2019-02-26 00:00:00+00:00  ...    163763.16         54.660601
13        13 2019-03-30 00:00:00+00:00  ...    354108.67         86.897833
14        13 2019-03-31 00:00:00+00:00  ...    169698.48         73.020000
15        13 2019-03-29 00:00:00+00:00  ...    340153.75         79.848298
16        13 2019-03-28 00:00:00+00:00  ...    319287.55         72.647907
17        14 2019-04-04 00:00:00+00:00  ...    342443.86         75.015084
18        14 2019-04-05 00:00:00+00:00  ...    362678.52         81.027373
19        14 2019-04-06 00:00:00+00:00  ...    430575.40         86.897154
20        14 2019-04-01 00:00:00+00:00  ...    200771.44         58.093588
21        14 2019-04-03 00:00:00+00:00  ...    176564.56         57.196165
22        14 2019-04-02 00:00:00+00:00  ...    177956.09         55.111827
23        15 2019-04-09 00:00:00+00:00  ...    224894.17         66.203759
24        15 2019-04-08 00:00:00+00:00  ...    233179.88         64.503425
25        15 2019-04-10 00:00:00+00:00  ...    239650.56         68.354410

[26 rows x 5 columns]

Build on your analysis adding the average and median `basket_size` per day in 2019.

In [32]:
SELECT
    DATE_PART('week', end_date_time::DATE) as week_num,
    end_date_time::DATE AS end_date,
    COUNT(id) AS total_transactions,
    SUM(amount) AS total_sales,
    AVG(amount) AS avg_sales_amount,
	PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY amount) AS median_sale_amount,
	AVG(basket_size) AS avg_basket_size,
	PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY basket_size) AS median_basket_size
	
FROM 'pos_transactions.csv'
WHERE DATE_PART('year', end_date) = 2019
GROUP BY end_date
ORDER BY week_num;

    week_num                  end_date  ...  avg_basket_size  median_basket_size
0          7 2019-02-13 00:00:00+00:00  ...        12.915903                 9.0
1          7 2019-02-14 00:00:00+00:00  ...        14.172116                10.0
2          7 2019-02-15 00:00:00+00:00  ...        17.184818                12.0
3          7 2019-02-16 00:00:00+00:00  ...        19.733348                14.0
4          8 2019-02-23 00:00:00+00:00  ...        19.813144                14.0
5          8 2019-02-18 00:00:00+00:00  ...        13.810092                10.0
6          8 2019-02-22 00:00:00+00:00  ...        17.736568                12.0
7          8 2019-02-24 00:00:00+00:00  ...        15.169176                10.0
8          8 2019-02-20 00:00:00+00:00  ...        13.594417                 9.0
9          8 2019-02-19 00:00:00+00:00  ...        13.432727                 9.0
10         8 2019-02-21 00:00:00+00:00  ...        16.488324                12.0
11         9 2019-02-25 00:00:00+00:00  ...        13.086303                10.0
12         9 2019-02-26 00:00:00+00:00  ...        13.653538                10.0
13        13 2019-03-30 00:00:00+00:00  ...        19.950675                13.0
14        13 2019-03-31 00:00:00+00:00  ...        16.714716                11.0
15        13 2019-03-29 00:00:00+00:00  ...        17.986385                12.0
16        13 2019-03-28 00:00:00+00:00  ...        16.363823                11.0
17        14 2019-04-04 00:00:00+00:00  ...        17.234173                12.0
18        14 2019-04-05 00:00:00+00:00  ...        19.128910                13.0
19        14 2019-04-06 00:00:00+00:00  ...        20.124319                13.0
20        14 2019-04-01 00:00:00+00:00  ...        13.843750                 9.0
21        14 2019-04-03 00:00:00+00:00  ...        13.621963                 9.0
22        14 2019-04-02 00:00:00+00:00  ...        13.752865                 9.0
23        15 2019-04-09 00:00:00+00:00  ...        15.674124                10.0
24        15 2019-04-08 00:00:00+00:00  ...        15.590318                11.0
25        15 2019-04-10 00:00:00+00:00  ...        15.925556                11.0

[26 rows x 8 columns]

## Task 6: Should the supermarket open on Sundays?

The two Sundays I see are significantly lower in volume of transactions than all other days. 
Also, Thursdays, Fridays and Saturdays are approximately 25% higher in number of transactions and 40% higher in sales revenue than Mondays, Tuesdays and Wednesdays.

Does it make sense to open stores on Sundays? 

The full week data is available only for week 8 (WS) and week 14 (NWS). Let's compare these two.

### Instructions

Calculate the total weekly sales amount for week 8 and 14 in 2019.

In [33]:
SELECT 
DATE_PART('week', end_date_time::DATE) as week_num,
SUM(amount)
FROM 'pos_transactions.csv'

WHERE EXTRACT(YEAR FROM end_date_time) >= '2019' AND week_num IN ('8','14')

GROUP BY week_num

   week_num  sum(amount)
0         8   1686485.72
1        14   1690989.87

## Task 7: How much does labor cost?

Week 8 (WS) revenue is PLN1.7M and also week 14 (NWS) has PLN1.7M. It may be possible that customers go shopping before Sunday knowing that the store will be closed on that day. 

Assuming that the competition is going to also notice this trend and close on Sundays, and assuming that our stores can rearrange the workforce shifts to 6 days a week cutting the Sunday shifts **there may be possible savings from closing the stores on Sundays with no impact on revenue**. 

I start quantifying the savings with labour costs, how many operators were working on working Sundays?

### Instructions

Find out how many operators were working on each day in 2019 by counting `operator_id `working on each `being_date_time`

In [34]:
SELECT 
(begin_date_time::DATE) as working_day,
COUNT(DISTINCT(operator_id)) AS operators_working_per_day,
DATE_PART('week',(begin_date_time::DATE)) as week_num

FROM 'pos_operator_logs.csv'

WHERE EXTRACT(YEAR FROM begin_date_time) >= '2019'

GROUP BY working_day

                 working_day  operators_working_per_day  week_num
0  2019-02-13 00:00:00+00:00                         20         7
1  2019-02-14 00:00:00+00:00                         26         7
2  2019-02-15 00:00:00+00:00                         24         7
3  2019-02-16 00:00:00+00:00                         28         7
4  2019-02-19 00:00:00+00:00                         21         8
5  2019-02-21 00:00:00+00:00                         27         8
6  2019-02-25 00:00:00+00:00                         20         9
7  2019-02-26 00:00:00+00:00                         20         9
8  2019-03-28 00:00:00+00:00                         25        13
9  2019-03-30 00:00:00+00:00                         26        13
10 2019-03-31 00:00:00+00:00                         20        13
11 2019-04-02 00:00:00+00:00                         21        14
12 2019-04-03 00:00:00+00:00                         21        14
13 2019-04-08 00:00:00+00:00                         21        15
14 2019-04-10 00:00:00+00:00                         20        15
15 2019-02-18 00:00:00+00:00                         20         8
16 2019-02-20 00:00:00+00:00                         19         8
17 2019-02-22 00:00:00+00:00                         26         8
18 2019-02-23 00:00:00+00:00                         25         8
19 2019-02-24 00:00:00+00:00                         18         8
20 2019-03-29 00:00:00+00:00                         27        13
21 2019-04-01 00:00:00+00:00                         23        14
22 2019-04-04 00:00:00+00:00                         26        14
23 2019-04-05 00:00:00+00:00                         25        14
24 2019-04-06 00:00:00+00:00                         25        14
25 2019-04-09 00:00:00+00:00                         19        15

The stores had 18 employees working on Sunday 24 February and 20 employees working on Sunday 31 March. 
I would then look into the hours per shift and the cost per hour to calcute the average savings per Sunday, as well as estimate all other costs of keeping stores open and operational (e.g. energy costs). On the other hand stores may have additional costs for not opening one day, for example for short shelf life goods that may go unsold.